<h1 mat-dialog-title>New post</h1>
<div mat-dialog-content>
  <form [formGroup]="postForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" id="content" formControlName="content"></textarea>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button (click)="submitForm()">Create</button>
</div>
